<div class="container-fluid h-100 w-100">
    <div class="row h-75 d-flex justify-content-center align-items-center mt-5">
        <div class="col-12 col-md-8 col-lg-4 col-lx-5 d-flex justify-content-center flex-column">

            <div class="d-flex justify-content-start algin-items-center flex-column col-5 gap-2 w-100 m-auto">

                <div>

                    <img src="/icons/preview.png" alt="CollectVerse Logo" class="logo">
                    <h1 class="fs-1 mb-5 fw-bold">Bem-vindo</h1>
                    <h2 class="fs-5 fw-border mb-4">Inscreva-se agora.</h2>

                </div>

                <button type="button" class="btn btn-dark btn-lg rounded-pill fs-6"><i class="bi bi-google"></i>
                    Inscreva-se com Google</button>
                <button type="button" class="btn btn-dark btn-lg rounded-pill fs-6"><i class="bi bi-facebook"></i>
                    Inscreva-se com Facebook</button>

                <div class="container-fluid w-75 m-auto">
                    <div class="row">
                        <div class="col-4 text-center">
                            <hr>
                        </div>
                        <div class="col-4 text-center">
                            <div>
                                <div dir="ltr">
                                    <span>ou</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="w-100 mb-5">

                    <button type="button" class="btn btn-primary btn-lg rounded-pill w-100" data-toggle="modal"
                        data-target="#register"> criar conta </button>
                    <span class="text-body-secondary termsandprivacy">Esteja ciente de que você concorda com os nossos
                        <a href="static/terms#terms">Termos de Serviço</a> e nossa <a
                            href="static/terms#privacy">Política de
                            Privacidade</a>.</span>

                </div>

                <div class="w-100">

                    <p>Já tem uma conta?</p>
                    <button type="button" class="btn btn-primary btn-lg rounded-pill w-100" data-toggle="modal"
                        data-target="#login"> Entrar </button>

                </div>

            </div>

        </div>
    </div>
</div>

{{!-- modails --}}
<!-- Modal de criar conta -->
{{> components/modals/register}}
<!-- Modal de entrar na conta -->
{{> components/modals/login}}

{{!-- externos --}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{!-- internos --}}
<script src="/js/validation.js"></script>