<div class="dropdown">
    <button class="unset dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{#if user}}
        {{user.name}}
        {{/if}}
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
        <li><a class="dropdown-item" href="#">Ajustes</a></li>
        <li><a class="dropdown-item" href="#">Iventario</a></li>
        <hr>
        <li><a class="dropdown-item" href="logout">Deslogar</a></li>
    </ul>
</div>