<div class="card">
    <div class="card-body p-0">
        <div class="w-100 banner-div" style="height: 320px;">
            <figure class="m-0 w-100 h-100">
                <img src="{{user.banner}}" class="w-100 h-100 banner rounded-top" alt="banner do usuário">
            </figure>
        </div>
        <div class="d-flex align-items-center justify-content-between text-center text-sm-start mt-4 px-3">
            <div class="d-flex justify-content-center align-items-center gap-3">

                <img class="logo-large rounded-circle" src="{{user.perfil}}" alt="Foto de Perfil do Usuário.">
                <div>
                    <h2 class="mb-0 h5">{{user.name}}</h2>
                </div>

            </div>

            <div class="d-flex justify-content-center">
                {{#if perfilIsTheUser}}
                <button type="button" class="btn btn-light me-2" data-toggle="modal" data-target="#editModal"
                    aria-label="Editar perfil">
                    <i class="bi bi-pencil-fill pe-1" alt="Lapis"></i>
                </button>

                {{> user/edit}}
                {{/if}}
                <div class="dropdown">
                    <button class="icon-md btn btn-light" type="button" id="profileAction2" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2" style="">
                        <li><a class="dropdown-item" href="/"> <i class="bi bi-bookmark fa-fw pe-2"></i>Compartilhar
                                perfil</a></li>
                        <li><a class="dropdown-item" href="/"> <i class="bi bi-lock fa-fw pe-2"></i>Bloquear perfil</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/"> <i class="bi bi-gear fa-fw pe-2"></i>Configurações</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white mt-3 py-2">
        <ul
            class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
            <li class="nav-item"> <a class="nav-link active" href="/"> Publicações </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/"> Iventário </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/"> Eventos</a> </li>
        </ul>
    </div>
</div>