<div class="w-100 card rounded my-3 bg-white" style="min-width: 250px; max-width:410px">
    <figure>
        <img class="w-100 rounded-top image-w-100 d-block" src="https://i.pinimg.com/564x/ba/a8/11/baa811da76fd65ca3dd9f31c14bac7d8.jpg" alt="Banner da comunidade">
    </figure>

    <div class="pt-2 p-3">
        <h3 class="fs-6">Designs Wallpapers</h3>
        <div class="d-flex gap-4">
            <span class="fs-7">134 membros</span>
            <span class="fs-7">12 On-line</span>
        </div>
    </div>

    <button type="button" class="mt-0 m-3 btn-primary btn">Ir á comunidade</button>

</div>