<div class="row w-100 mx-auto w-100">

    {{> components/sidebar/sidebar}}

    <div class="col p-0 m-0">
        {{> components/semantics/header directoryName="Perfil"}}

        <div class="container my-3">

            <div>
                <div class="container-fluid">

                    {{> user/profile}}

                    {{#if perfilIsTheUser}}
                    {{> user/form}}
                    {{/if}}

                    {{#if noMoreComments}}
                    <div class="alert alert-primary" role="alert">
                        Tivemos um problema a carregar os comentários!!
                        <br>
                        Por favor, recarrege a pagina ou tente novamente mais tarde.
                    </div>
                    {{else}}

                    {{#each comments}}
                    {{> components/templates/card}}
                    {{/each}}
                    <div class="alert alert-primary" role="alert">
                        Não há mais comentários!!
                        <br>
                        Todos os comentários foram vistos acima, por favor aguarde por novos.
                        Agradecemos a compreenção.
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>

</div>

<script src="/js/interactions.js"></script>