<section class="default-card activeTask-card">
	<section class="task-preview">
		<h6>Atividade</h6>
		<h2>Fazer 5 publicações</h2>
	</section>
	<section class="task-info">
		<section class="progress-container">
			<section class="progress"></section>
			<span class="progress-text">
				6/9 Challenges
			</span>
		</section>
		<h6>Atividade simples</h6>
		<h2>Ao completa-la, receberá $ 600 em pontos!</h2>
		<button class="del-btn">Desistir</button>
	</section>
</section>