<a class="buy-card-archor" href="/store/buy/points/<%= token.id %>">
    <section class="default-card buy-card">
        <img src="https://store-images.s-microsoft.com/image/apps.40956.66551724481003499.684bcba5-f93c-4565-8022-dba49ecc2d9f.53be8e87-0bdd-4278-853d-d68bfc021e8e?q=90&w=480&h=270" alt="Imagem ilustrativa de Versecoins">
        <section class="about">
            <h3><%= token.type %></h3>
            <h2><%= token.title %></h2>
            <h4>R$ <%= token.price %></h4>
        </section>
    </section>
</a>