<section class="default-card">
    <h3><%= model.name %></h3>
    <model-viewer autoplay ar ar-modes="webxr scene-viewer" alt="Design ilustrativa do colecionavel do iventário"
        src="/source/models/<%= model.path  %>" ar shadow-intensity="0" camera-controls
        touch-action="pan-y"></model-viewer>
        <% if (profile.id == locals.userid ) { %>
            <section>
                <form action="/profile/toggleModel" method="post">
                    <input type="hidden" name="id" value="<%= model.id  %>">
                    <input type="submit" value="Usar">
                </form>
            </section>
        <% } %>
</section>