<section class="default-card model-card">
    <section class="header-model">
        <ol>
            <li><button class="active modelButton" onclick="tabToggle('model')"><i class="bi bi-box"></i> Modelo</button></li>
            <li><button class="inventoryButton" onclick="tabToggle('inventory')"><i class="bi bi-collection"></i> Coleção</button></li>
        </ol>
        <% if (profile.id && locals.userid == profile.id) { %>
            <ol>
                <li class="for-form">
                    <form action="/profile/nullModel" method="post">
                        <button type="submit" class="clear-models active"><i class="bi bi-stars"></i> Limpar</button>
                    </form>
                </li>
            </ol>
        <% } %>
    </section>

    <section class="container">
        <!-- conteudo -->
        <section class="model-content">
            <% if (profile.collectible != null) { %>
                <section class="model-viewer">
                    <model-viewer autoplay ar ar-modes="webxr scene-viewer" alt="Design ilustrativa do colecionavel de <%= profile.name %> "
                        src="/source/models/<%= profile.collectible %>" ar shadow-intensity="0" camera-controls
                        touch-action="pan-y"></model-viewer>
                </section>
                <% } else { %>
                    <section class="model-unviewer">
                        <span>Sem colecionaveis em uso!</span>
                    </section>
                    <% } %>
        </section>
        <section class="inventory-viewer">
            <% if (JSON.parse(profile.itemIds).length > 0) { %>
                <% inventory.forEach(model => { %>
                    
                    <%- include('../../partials/card/inventory.ejs', { model: model }) %>

                <% }) %>
            <% } else {%>
                <section class="model-unviewer">
                    <span>Sem colecionaveis adiquiridos!</span>
                </section>
            <% } %>
        </section>
    </section>

</section>