<section class="default-card plans-card">
    <section class="main-for-plans">
        <section class="title-for-plans">
            <h2>UNIVERSE</h2>
        </section>
        <section>
            <p>Transforme sua coleção em uma obra-prima pessoal</p>
            <p>Desbloqueie todo o potencial da sua rede social de colecionadores agora.</p>
            <span>Consiga 35% de desconto para collecionaveis e muito mais.</span>
        </section>

        <section class="form-control">
            <form action="/store/getUniverse" method="post">
                <input type="submit" value="Pegar">
            </form>
        </section>
    </section>
</section>