<a href="/profile/<%= user.id %>" class="default-card poster-card">

    <section class="user-profile-infos">            
        <img class="user-banner" src="/uploads/user/banners/<%= user.banner %>" alt="banner de perfil do usuário.">
        <section class="user-info">
            <section class="perfil">
                <img class="user-profile perfil" src="/uploads/user/perfils/<%= user.perfil %>" alt="foto de perfil do usuário.">
            </section>
            <section class="informations-card">
                <h3><%= user.name %></h3>
                <% if (locals.userid && locals.userid === user.id) { %>
                    <section class="your-poster">
                        <span>Você</span>
                    </section>
                <% } %>
            </section>
        </section>
    </section>  

</a>