<!-- <section class="default-card task-card">
    <h1>Adicionar pontos</h1>
    <span>Essa ação é temporaria, será usada apenas para testes.</span>
    <span>Após um periodo de desenvolvimento, será removido</span>

    <form action="/store/getPoints" method="post">
        <input type="number" name="points" placeholder="Quantidade de pontos" min="0" max="999999">
        <input type="submit" value="Confirmar">
    </form>
</section> -->

<section class="default-card task-card">
	<article class="card">
	<figure class="card-image">
		<img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyNDcwMTUwOQ&ixlib=rb-1.2.1&q=85" alt="An orange painted blue, cut in half laying on a blue background" />
	</figure>
	<section class="card-header">
		<h2>When life gives you oranges</h2>
		<button class="icon-button">
			<i class="bi bi-hand-index-thumb"></i>
		</button>
	</section>
	<section class="card-footer">
		<span class="card-meta card-meta-points">
			<i class="bi bi-currency-dollar"></i>
			600
		</span>
	</section>
</article>
</section>