<section class="default-card">
    <h1>Adicionar pontos</h1>
    <span>Essa ação é temporaria, será usada apenas para testes.</span>
    <span>Após um periodo de desenvolvimento, será removido</span>

    <form action="/store/getPoints" method="post">
        <input type="number" name="points" placeholder="Quantidade de pontos" min="0" max="999999">
        <input type="submit" value="Confirmar">
    </form>
</section>