<link rel="stylesheet" href="/stylesheet/sign/style.css">

<main>
    <!-- card de Sign in -->
    <section class="default-card">
        <!-- header -->
        <header class="header-card">
            <!-- logomarca -->
            <section>
                <img src="/source/images/string.svg" alt="Collectverse Marca">
            </section>
            <!-- texto de significado -->
            <section class="header-card-text">
                <h1>Faça a verificação</h1>
                <h2>Verifique suas credenciais no E-mail</h2>
            </section>
        </header>
        <!-- formulario -->
        <section class="retorn-to-login">
            <a href="/sign/in">Voltar ao login</a>
            <span>Após a verificação retorne para o Login</span>
        </section>
    </section>
</main>
