<div class="dropdown">
    <button class="unset dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{#if user}}
        {{user.name}}
        {{/if}}
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <hr>
        <li><a class="dropdown-item" href="logout">Deslogar</a></li>
    </ul>
</div>