{{> components/semantics/header directoryName="planos"}}

<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Seja um membro Universal</h1>
            <p class="fs-5 text-body-secondary mx-auto" style="max-width: 1000px;">tenha os planos disponíveis para
                aquisição e desfrute de vantagens
                exclusivas, além de promoções irresistíveis. Garanta já o seu e aproveite benefícios especiais que vão
                fazer a diferença.</p>
        </div>
    </header>

    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center mx-auto" style="max-width: 867px;">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Gratuito</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mês</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">

                        <li>Acesso Geral à Plataforma</li>
                        <li>Recursos Básicos de Busca e Navegação</li>
                        <li>Customização Básica de Perfil</li>

                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a href="/access"
                            class="unset">Entre de graça</a></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Universal</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">R$10<small
                            class="text-body-secondary fw-light">/mês</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Promoções exclusivas <i class="bi bi-bag-check text-success"></i></li>
                        <li>Colecionável Mensal Único <i class="bi bi-bag-check text-success"></i></li>
                        <li>Emblemas de Apoiador <i class="bi bi-bag-check text-success"></i></li>
                        <li>Eventos Exclusivos <i class="bi bi-bag-check text-success"></i></li>
                        <li>Personalização único de Perfil <i class="bi bi-bag-check text-success"></i></li>
                        <li>Acesso Antecipado a Recursos <i class="bi bi-bag-check text-success"></i></li>
                        <li>Compartilhamento Exclusivo <i class="bi bi-bag-check text-success"></i></li>
                        <li>Envio de arquivos maiores <i class="bi bi-bag-check text-success"></i></li>
                    </ul>
                    <form action="/store/getPass" method="post">

                        <input type="hidden" name="id" value="1">
                        <input type="submit" class="btn btn-primary btn-lg" value="Adquirir o Passe Universal">

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>