<div class="container w-75 mt-5">

    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Carrinho de Compras</h1>
            <p class="fs-5 text-body-secondary mx-auto" style="max-width: 1000px;">Vejá agora os items que estão em seu
                carrinho de compras e efetue sua compra!</p>
        </div>
    </header>

    <div class="row g-5">
        {{> store/cart}}
    </div>

    <div class="col-md-7 col-lg-8">
        {{> store/payment}}
    </div>

</div>
</div>