<div class="row w-100">

    {{> components/sidebar/sidebar}}

    <div class="col p-0 m-0 store-container">
        {{> components/semantics/header directoryName="Loja"}}

        <div>

            {{> store/hero}}

            <div class="container-fluid mx-auto">
                <div class="d-flex mx-auto flex-wrap d-md-flex justify-content-start gap-2 flex-md-equal mt-3 w-100">

                    {{#each item}}
                    <div class="{{#if @first}}w-100{{else}}w-49 w-md-100{{/if}}">
                        {{> store/card}}
                    </div>
                    {{/each}}

                </div>
            </div>


        </div>

    </div>

</div>

<script src="/js/interactions.js"></script>