<div class="row w-100">

    {{> components/sidebar/sidebar}}

    <div class="col p-0 m-0 store-container">
        {{> components/semantics/header directoryName="Loja"}}

        <div>

            {{> store/hero}}

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 w-100">

                {{> store/card name="MX MECHANICAL" class="epic" description="Teclado de desempenho iluminado sem fio"}}
                {{> store/card name="MX MECHANICAL" class="epic" description="Teclado de desempenho iluminado sem fio"}}

            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 w-100">

                {{> store/card name="MX MECHANICAL" class="epic" description="Teclado de desempenho iluminado sem fio"}}
                {{> store/card name="MX MECHANICAL" class="epic" description="Teclado de desempenho iluminado sem fio"}}

            </div>

        </div>

    </div>

</div>

<script src="/js/interactions.js"></script>