<div class="row w-100">

    {{> components/sidebar/sidebar}}

    <div class="col p-0 m-0 store-container">
        {{> components/semantics/header directoryName="Loja"}}

        <div>

            {{> store/hero}}

            <div class="d-flex flex-wrap d-md-flex flex-md-equal mt-3 w-100">

                {{#each item}}
                <div class="w-50 w-md-100">
                    {{> store/card name="MX MECHANICAL" class="epic" description="Teclado de desempenho iluminado sem
                    fio"}}
                </div>
                {{/each}}

            </div>

        </div>

    </div>

</div>

<script src="/js/interactions.js"></script>