<div class="row w-100">

    {{> components/sidebar/sidebar}}

    <div class="col p-0 m-0">
        {{> components/semantics/header directoryName="Home"}}

        <div class="row mx-4">
            <div class="col">
                <div class="container">
                    {{> publications/form}}

                    {{#if noMoreComments}}
                    <div class="alert alert-primary" role="alert">
                        Tivemos um problema a carregar os comentários!!
                        <br>
                        Por favor, recarrege a pagina ou tente novamente mais tarde.
                    </div>
                    {{else}}

                    {{#each comments}}
                    {{> publications/card}}
                    {{/each}}
                    <div class="alert alert-primary" role="alert">
                        Não há mais comentários!!
                        <br>
                        Todos os comentários foram vistos acima, por favor aguarde por novos.
                        Agradecemos a compreenção.
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="col-4">

                {{> user/recommended}}

            </div>
        </div>

    </div>


</div>