<div class="row w-100 mx-auto w-100">

    {{> components/sidebar/sidebar}}

    <div class="col p-0 m-0">
        {{> components/semantics/header directoryName="Home"}}

        <div class="row flex-lg-column-rv mx-1">
            <div class="col">
                <div class="container-fluid">
                    {{> publications/form}}

                    {{#if noMoreComments}}
                    <div class="alert alert-primary" role="alert">
                        Tivemos um problema a carregar os comentários!!
                        <br>
                        Por favor, recarrege a pagina ou tente novamente mais tarde.
                    </div>
                    {{else}}

                    {{#each comments}}
                    {{> publications/card}}
                    {{/each}}
                    <div class="alert alert-primary" role="alert">
                        Não há mais comentários!!
                        <br>
                        Todos os comentários foram vistos acima, por favor aguarde por novos.
                        Agradecemos a compreenção.
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="recommended-div col-lg-4 col-12 px-4 mx-auto overflow-auto">

                {{> user/recommended}}
                {{> components/templates/empty title="Ver mais" text="Ver mais comunidades"}}

                <hr style="max-width: 410px;">

            </div>

        </div>

    </div>

</div>

<script src="/js/interactions.js"></script>