<a href="/" class="unset my-auto" aria-label="Ir para a página {{title}}. Clique para saber mais">
    <div class="card border-dashed text-center" style="max-width: 410px; widht: 100%; height: 18em;">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">{{text}}</p>

            <div class="dashed-border">
                <span class="plus-icon">+</span>
            </div>
        </div>
    </div>
</a>