/* 
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    /* border: 1px solid red; */
    text-decoration: none;
    list-style: none;
}

:root {
    /* variaveis */
    --back: #fdfdfd;
    --card: #fff;
}


body {
    background: #fff;
}

.overflow {
    overflow: hidden;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

button[disabled],
input[disabled] {
    cursor: not-allowed !important;
}

hr {
    border-color: #6767671b;
    margin: 1rem 0;
}

/* js */

.onBlock {
    display: block !important;
}

.sn-notifications-container {
    --sn-notifications-gap: 10px !important;
}

@media screen and (max-width: 576px) {
    .sn-notify {
        --sn-notify-width: 250px;
    }
}

/* header */

.header {
    background: #fdfdfd;
}

.internal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background: #fdfdfd;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header .logomarca img {
    width: 60px;
}

@media screen and (max-width: 576px) {
    .header .logomarca img {
        width: 40px;
    }
}

.header .logo-gradient-model {
    padding: 0.35rem 0.6rem;
    border-radius: 8px;
    background: linear-gradient(132deg, rgba(250, 171, 0, 0.215), rgb(237, 19, 19, 0.215), rgb(213, 74, 255, 0.215));
    background-size: 250% 250%;
    animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.header .logo-gradient-model i {
    color: #ffffff5a;
}

.header ul {
    display: flex;
    gap: 6px;
}

.header .header-ul-itens {
    display: flex;
    align-items: center;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header .user-info-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 8px;
}

.informations-card {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header .user-info-dropdown section h3,
.informations-card h3 {
    color: #202124;
    font-size: 16px;
    line-height: 1rem;
}

.header .user-info-dropdown section span,
.informations-card span {
    color: #676767;
    font-size: 12px;
    max-width: 14ch;
    line-height: 1rem;
}

.span-for-points {
    background-color: #dfedff;
    color: #0056b3 !important;
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem !important;
    border-radius: 12px;
}

.span-for-points a {
    all: unset !important;
    cursor: pointer !important;
}

.navigation-header {
    border-right: 1px solid #6767674a;
    padding-right: 12px;
}

.navigation-header li {
    cursor: pointer;
}

.navigation-header li,
.navigation-header .button-for-store {
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.navigation-header .button-for-store {
    gap: 0.6rem;
}

.navigation-header a,
.navigation-header .dropdown-store i {
    display: flex;
    color: #0056b3;
    font-size: 14px;
}


.navigation-header a span,
.navigation-header .button-for-store span {
    display: none;
}

.navigation-header .activated {
    background: #0057b30f;
    border-radius: 25px;
    padding: 0.4rem 0.85rem;
}

.navigation-header .store-activated {
    padding: 0.4rem 0.85rem 0.4rem 0.6rem;
}

.navigation-header .activated a {
    display: flex;
    gap: 0.5rem;
    font-size: 14px;
}

.navigation-header .activated span {
    display: block;
    font-size: 12px;
}

@media screen and (max-width: 576px) {
    .navigation-header .activated span {
        display: none !important;
    }
}

.dropdown-store-content ul {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.dropdown-store-content ul li a>section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.dropdown-store-content ul li a>section i {
    font-size: 18px !important;
}

/*  */

.sign-button {
    padding: 0.4rem 1rem;
    border-radius: 6px;
}

.sign-in-button {
    background: transparent;
}

.sign-in-button a {
    color: #0056b3;
}

.header-dropdown {
    z-index: 10;
}

.header-dropdown i {
    border-radius: 8px;
    padding: 0.4rem 0.5rem;
    font-size: 18px;
    background: #dfedff;
    color: #0056b3;
}

.dropdown-header {
    min-width: 250px !important;
}

.dropdown-header ul {
    flex-direction: column;
    gap: 0;
}

.dropdown-header ul li a,
.dropdown-content ul li a {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #494949;
}

.dropdown-header ul i {
    all: unset;
}

.name-for-user {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.name-for-user h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown-header .signOut {
    margin-top: 12px;
    transition: background 500ms linear;
}

.dropdown-header .signOut:hover {
    background: #ff8e8e1d;
}

/* menu header */

.li-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .li-menu {
        display: flex;
        align-items: center;
        margin-right: 8px;
    }

    .menu i {
        color: #0056b3;
        font-size: 14px;
        cursor: pointer;
    }
}

/* pass */

.with-pass {
    color: #ffcc66 !important;
}

@keyframes progressBar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* images */

.li-dropdown-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

.inPerfil {
    border: 4px solid #0057b32d;
}

@media screen and (max-width: 576px){
    .perfil img {
        width: 35px;
        height: 35px;
    }
}

/* card */

.default-card {
    background-color: #fdfdfd;
    border-radius: 8px;
    border: 1px solid #afafaf1c;
    padding: 20px;
}

.danger-card {
    border-color: #ff8e8e;
    background-color: #fffdfd;
}

/* user infos card */

@media screen and (max-width: 380px) {
    .following-and-followers p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 4ch;
    }
}

.user-info-card {
    max-width: 350px;
    width: 100%;
}

.user-info-card .biography {
    padding: 1rem;
    color: #202124;
    font-size: 16px;
}

.responsive-itens-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 768px) {

    .responsive-itens-container {
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        padding: 1rem;
        z-index: 1;
        width: 80%;
        min-width: 260px;
        height: calc(100vh - 68px);
        background: #fff;
        box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.065);
        overflow-y: scroll;
    }

    .activated {
        display: flex !important;
        flex-direction: column;
        gap: 1rem;
    }

    .user-info-card {
        max-width: 100% !important;
        width: 100%;
    }
}

.user-info-card .user-banner {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    object-fit: cover;
}

@media screen and (max-width:576px) {
    .user-info-card .user-banner {
        height: 250px;
    }
}

@media screen and (max-width:380px) {
    .user-info-card .user-banner {
        height: 180px;
    }
}

.user-info-card .following-and-followers {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: space-around;
    text-align: center;
    gap: 16px;
    padding: 1rem;
    border-top: 1px solid #6767671b;
    border-bottom: 1px solid #6767671b;
}

.user-info-card .following-and-followers::-webkit-scrollbar {
    display: none;
}

.user-info-card .following-and-followers p {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: #202124;
    font-size: 14px;
}

.user-profile-infos>section {
    display: flex;
    gap: 12px;
    align-items: center;
}

.view-profile {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.view-profile a {
    color: #202124;
}

/* publish */

.publish-card {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.publish-card .form {
    width: 100%;
}

.publish-card form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.publish-card input[type="text"] {
    width: 100%;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.publish-card input[type="text"]:focus {
    color: #0056b3;
    outline-color: #0056b3;
}

.publish-card .image-preview img {
    width: 100%;
    height: auto;
    max-width: 320px;
    object-fit: cover;
    border-radius: 12px;
}

.publish-card .remove-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

.not-publications-founds {
    padding: 1rem;
    color: #676767;
    font-size: 14px;
    text-align: center;
}

.parent-response span {
    color: #676767;
    font-size: 14px;
    margin: 18px 0;
}

/* 3 dots icon */

.more-icon {
    position: relative;
}

.more-icon i {
    border-radius: 8px;
    padding: 0.4rem 0.5rem;
    font-size: 18px;
    background: #fff;
}

.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.button-container .submit,
.button-container .submit-disabled {
    max-width: 120px;
    background-color: #0056b3;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container .submit:hover {
    background-color: #0056b3;
}

.button-container .submit-disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.unset-submit {
    all: unset;
    width: max-content;
    min-width: 160px;
    padding: 1rem;
    transition: background 500ms linear;
    border-radius: 8px;
}

.unset-submit:hover {
    background-color: #ffdfdf80;
}

/* publications */

.container-publications {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.publication-card .header-card {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.publication-card .user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.publication-card .user-info a {
    font-size: 18px;
    color: #0056b3;
}

.publication-card .user-info p {
    font-size: 12px;
    color: #676767;
}

.publication-card .user-info img {
    width: 52px;
    height: 52px;
    border-radius: 16px;
    object-fit: cover;
}

.publication-card .content-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.publication-card .content-container p {
    font-size: 16px;
    color: #202124;
}

.publication-card .image-container img {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* actions */

.actions-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.item-publication button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    all: unset;
    padding: 0.6rem 0.65rem;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.item-publication {
    border-radius: 8px;
}

.like-publication {
    background-color: #ff8e8e;
    color: #fff;
}

.like-publication span {
    font-size: 12px;
}

.comment-publication {
    background-color: #0056b3;
    color: #fff;
}

.liked {
    color: #ff5555;
}

/* dropdown */

.dropdown-notification i {
    font-size: 16px;
}

.dropdown,
.dropdown-notification {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-notification-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.065);
    right: 0px;
    top: 2.5rem;
    z-index: 100;
}

.header .dropdown-content,
.header .dropdown-notification-content {
    top: 3.5rem;
}

.dropdown-content a,
.dropdown-notification-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-notification-content a:hover {
    background-color: #0057b30c;
}

/* store dropdown */

.dropdown-store i {
    font-size: 16px;
}

.dropdown,
.dropdown-store {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-store-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.065);
    right: 0px;
    top: 2.5rem;
    z-index: 100;
}

@media screen and (max-width: 576px) {
    .dropdown-store-content {
        left: 0;
    }
}

.header .dropdown-content,
.header .dropdown-store-content {
    top: 3.5rem;
}

.dropdown-content a,
.dropdown-store-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.dropbtn {
    transition: background 500ms linear;
    color: #0056b3;
}

.dropdown:hover .dropbtn,
.dropdown-notification .dropbtn {
    background-color: #dfedff;
}

.dropdown-content i,
.dropdown-notification-content i {
    all: unset;
}

/* notification */

.dropdown-notification ul{
    flex-direction: column;
    max-width: 320px;
    width: 250px;
    height: 320px;
    overflow-x: auto;
    scrollbar-width: none;
}

.dropdown-notification ul::-webkit-scrollbar {
    display: none;
}

.dropdown-notification-content li {
    margin: 0 auto;
}

.dropdown-notification .notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
}

.dropdown-notification .notification-item i {
    background: #0057b30c;
    padding: 0.8rem 0.85rem;
    border-radius: 8px;
    color: #0056b3;
}

.dropdown-notification .notification-item h2 {
    color: #202124;
    font-size: 14px;
}

.dropdown-notification .notification-item p {
    color: #494949;
    font-size: 12px;
}

.dropdown-notification-content span {
    padding: 0.8rem;
    color: #202124;
    font-size: 14px;
}

.dropdown-notification-content .not-have-notification {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* chose file */


.custom-file-upload {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background-color: #dfedff;
    transition: background 500ms linear;
}

.custom-file-upload i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #0056b3;
}

/* modal */
/* seguidor(es) e seguindo  */

.follows-modal .header-follows ol {
    display: flex;
    gap: 0.4rem;
    width: 100%;
}

.follows-modal .header-follows li {
    width: 100%;
}

.follows-modal .header-follows li button {
    width: 100%;
    color: #0056b3;
    background-color: #fdfdfd;
    padding: 0.4rem;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.follows-modal .header-follows li .active {
    background-color: #0057b310;
}

.modal-background {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: #2021242d;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.show {
    display: flex;
}

.follows-modal {
    z-index: 12;
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 400px;
}

.follows-modal .close-button {
    padding-bottom: 1rem;
}

.follows-modal .close-button button {
    padding: 0.2rem 0.4rem;
    border: none;
    border-radius: 6px;
    background-color: #fdfdfd;
    color: #202124;
    font-weight: 600;
    font-size: 20px;
}

.follows-container {
    padding: 0.8rem;
    overflow: auto;
    width: 100%;
}

.follows-container .follows-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    overflow: auto;
    width: 100%;
}

.follows-container span {
    color: #202124;
    font-size: 14px;
}

.follows-container a {
    width: 100%;
}

.following {
    display: none;
}

.follows-modal .user-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.follows-modal .user-info h2 {
    color: #202124;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 14ch;
}

@media screen and (max-width: 576px) {
    .dropdown-header {
        max-width: 180px !important;
    }
    .follows-modal .user-info h2 {
        max-width: 10ch;
    }
}

.follows-modal .unfollowbtn,
.follows-modal .followbtn {
    padding: 0.4rem 1rem !important;
}

.followbtn,
.unfollowbtn {
    padding: 0.6rem 2rem;
    border-radius: 25px;
    color: #fff;
    border: none;
}

.followbtn {
    background: #0056b3;
}

.unfollowbtn {
    background: #ff5858;
}

/* Modal de boas vindas */
.modal-welcome {
    display: none; /* Inicialmente escondido */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2021242d;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    min-height: 540px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.modal-content h2 {
    color: #202124;
    font-size: 24px;
    margin: 1rem 0;
}

.modal-content p {
    color: #494949;
    font-size: 16px;
    margin: 0 0 1rem 0;
}

.modal-content button {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
}

.modal-content .button-content {
    display: flex;
    gap: 4px;
}

.modal-content .button-content .next {
    background-color: #0056b3;
    color: #fdfdfd;
}

.modal-content .button-content .prev {
    background-color: #ff8e8e;
    color: #fdfdfd;
    max-width: 40px;
}

.modal-content .button-content .ok {
    background-color: #0056b3;
    color: #fdfdfd;
}

.modal-phase {
    display: none;
}

.modal-phase img {
    width: 76%;
    max-height: 200px;
    padding: 2rem 2rem 0;
}

.modal-phase .user-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 0;
}

/* Estilo do indicador de progresso */
#progress-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-phase .button-content {
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.progress-dot {
    width: 4px;
    height: 4px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
}

.progress-dot.active {
    background-color: #0056b3;
}

/* not found */

.main-notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notFound span {
    color: #0056b3;
    font-size: 3rem;
}

.notFound h1 {
    color: #202124;
    font-size: 1.6rem;
}

.notFound a {
    color: #202124;
    text-decoration: underline;
}

/* accordions */

.accordion {
    background-color: #faf9f9;
    border-radius: 5px;
    margin: 10px 0;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    background-color: #f7f4f4;
}

.accordion-content {
    display: none;
    padding: 10px;
    margin-bottom: 1.6rem;
    background-color: #fdfdfd;
    text-align: left;
}

.accordion-content p {
    max-width: 320px;
}

.images-modal-configurations {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.images-modal-configurations img {
    width: 100%;
    height: auto;
}

.images-modal-configurations span {
    color: #494949;
    font-size: 12px;
}