<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 rounded">
                    <img src="/icons/preview.png" alt="CollectVerse Logo" class="logo">
                    <h4 class="fst-italic">Sobre Nós</h4>
                    <p class="mb-0">
                        CollectVerse, uma rede social de animes que oferece interações em 3D! O CollectVerse tem como
                        objetivo proporcionar uma experiência única no universo geek, permitindo que os usuários
                        personalizem seus perfis e explorem um ambiente virtual imersivo.
                    </p>
                </div>

                <div>
                    {{!-- --}}
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Arquivos</h4>
                    <p>Veja os arquivos do prototipo do CollectVerse no repositório do GitHub</p>
                    <ol class="list-unstyled mb-0">
                        <li><a href="https://github.com/collectverse/collectverseFirstPrototype">CollectVerse Primeiro
                                Prototipo.</a></li>
                        <li><a href="https://github.com/collectverse/collectverseSecondPrototype">CollectVerse Segundo
                                Prototipo.</a></li>
                        <li><a href="https://github.com/collectverse/CollectVerse-second-prototype/discussions/5">Perguntas
                                e Respostas sobre o CollectVerse: Rede Social de Animes.</a></li>
                        <li><a href="https://github.com/collectverse/CollectVerse-second-prototype/discussions/6">Q&A sobre
                                o código do CollectVerse: Rede Social de Animes.</a></li>

                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Nas Redes Sociais</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col">
            <h3 class="fst-italic">
                Termos de uso do CollectVerse.
            </h3>
            <p class="border-bottom mb-3">Considere ler para saber dos seus deveres e direitos de uso do CollectVerse.
            </p>

            <article class="blog-post">
                <h2 class="link-body-emphasis mb-1 fs-5">Aceitação dos Termos</h2>

                <p>
                    Ao acessar e utilizar o CollectVerse, você concorda em cumprir e aceitar estes Termos de Uso. Se
                    você não concordar com qualquer parte destes termos, não está autorizado a utilizar o serviço.
                </p>
                <hr>
                <p>
                    Você deve ter pelo menos 13 anos de idade para usar o CollectVerse. Se você for menor de idade, a
                    utilização do serviço deve ser supervisionada por um responsável legal.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Conteudo do Usuário</h2>
                <p>
                    Você é o único responsável pelo conteúdo que você posta ou compartilha no CollectVerse, incluindo
                    textos, imagens, vídeos e outros materiais. Você concorda em não compartilhar conteúdo ilegal,
                    ofensivo, difamatório, ou que viole os direitos de propriedade intelectual de terceiros.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Privacidade</h2>
                <p>
                    Respeitamos sua privacidade. Nossa Política de Privacidade explica como coletamos, usamos e
                    protegemos suas informações pessoais. Ao utilizar o CollectVerse, você concorda com as práticas
                    descritas em nossa Política de Privacidade.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Comportamento do Usuário</h2>
                <p>
                    Você concorda em interagir de forma respeitosa com outros membros da comunidade CollectVerse.
                    Comportamento inadequado, como assédio, discurso de ódio ou spam, não será tolerado.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Encerramento da Conta</h2>
                <p>
                    Reservamo-nos o direito de encerrar ou suspender sua conta se você violar estes Termos de Uso ou se
                    o seu comportamento prejudicar a experiência de outros usuários.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Alterações nos Termos</h2>
                <p>
                    Podemos atualizar ou modificar estes Termos de Uso periodicamente. É sua responsabilidade verificar
                    regularmente as mudanças. O uso contínuo do CollectVerse após as alterações implica na sua aceitação
                    dos novos termos.
                </p>

                <h3 class="fst-italic">
                    Política de Privacidade do CollectVerse
                </h3>
                <p class="border-bottom mb-3">
                    Nossa política de privacidade descreve como coletamos, usamos, compartilhamos e protegemos suas
                    informações pessoais quando você utiliza o CollectVerse.Leia atentamente para entender como suas
                    informações são tratadas:
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Informações Coletadas</h2>
                <p>
                    Coletamos informações pessoais, como nome, endereço de e-mail, idade e informações de perfil. Também
                    coletamos dados de uso, como interações na plataforma e preferências.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Uso das Informações</h2>
                <p>
                    Utilizamos suas informações para personalizar sua experiência no CollectVerse, fornecer suporte ao
                    usuário, melhorar nossos serviços e enviar comunicações relacionadas à plataforma.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Compartilhamento de Informações</h2>
                <p>
                    Podemos compartilhar informações com terceiros para fornecer serviços técnicos, analíticos e de
                    segurança. Não vendemos suas informações pessoais a terceiros.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Cookies e Tecnologias Similares</h2>
                <p>
                    Utilizamos cookies e tecnologias semelhantes para coletar informações sobre seu uso da plataforma.
                    Você pode gerenciar suas preferências de cookies nas configurações do seu navegador.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Segurança de Dados</h2>
                <p>
                    Implementamos medidas de segurança para proteger suas informações, mas não podemos garantir
                    segurança completa. Você é responsável por manter a segurança de suas credenciais de login.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Links para Sites de Terceiros</h2>
                <p>
                    O CollectVerse pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de
                    privacidade desses sites.
                </p>
                <h2 class="link-body-emphasis mb-1 fs-5">Menores de Idade</h2>
                <p>
                    Não coletamos intencionalmente informações pessoais de menores de 13 anos. Se você é um responsável
                    legal de um menor que utilizou o CollectVerse, entre em contato conosco.
                </p>

                {{!-- --}}

                <h3>O CollectVerse pode coletar informações como:</h3>
                <p>
                    Esteja ciente de que suas informações serão mantidas em estrita confidencialidade e serão utilizadas
                    exclusivamente para fins estatísticos afim de melhorar a experiência do usuário.
                </p>
                <ul>
                    <li>Histórico de interações, como postagens, comentários, curtidas e compartilhamentos.</li>
                    <li>Histórico de compras de colecionáveis e itens virtuais</li>
                    <li>Tipo de dispositivo</li>
                    <li>Sistema operacional</li>
                    <li>Navegador da web</li>
                    <li>Informações de geolocalização</li>
                    <li>Dados de cookies</li>
                    <li>Dados de análise, como Google Analytics</li>
                    <li>Registros de comunicações com o suporte ao cliente</li>
                </ul>

                <hr>

                <article class="blog-post">
                    <h3>Patch de atualizações</h3>
                    <p>
                        Veja aqui informações de atualizações do CollectVerse.
                    </p>
                    <p class="blog-post-meta">Data por <a href="#">Criador</a></p>

                    <p>Este é um conteúdo de parágrafo adicional para preencher o espaço disponível. É uma versão
                        ligeiramente mais curta do outro texto corporal altamente repetitivo usado em toda parte.
                        Repetiremos isso frequentemente para manter a demonstração fluindo, então esteja atento para
                        esta
                        mesma sequência de texto.</p>
                    <ul>
                        <li>Primeiro item da lista</li>
                        <li>Segundo item da lista com uma descrição mais longa</li>
                        <li>Terceiro item da lista para fechar</li>
                    </ul>
                    <p>Este é um conteúdo de parágrafo adicional para preencher o espaço disponível. É uma versão
                        ligeiramente mais curta do outro texto corporal altamente repetitivo usado em toda parte.
                    </p>
                </article>

                <nav class="blog-pagination" aria-label="Paginação">
                    <a class="btn btn-outline-primary rounded-pill" href="#">Anterior</a>
                    <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Mais Recente</a>
                </nav>

        </div>
    </div>

</div>