* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid red; */
}

/* geral */

.fs-7 {
    font-size: 14px;
}

.logo {
    width: 36px;
    height: 36px;
}

.logo-name {
    color: #2CA6CF !important;
}

.logo-span {
    font-size: 12px;
}

.notification {
    margin-top: 6.8rem;
    z-index: 1000;
}

/* terms & privacy */
.termsandprivacy {
    font-size: 12px;
}

/* unset */
.unset {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}

/* buttons */

.default {
    color: #33333369 !important;
    border: 1px solid #33333369 !important;
    border-radius: 8px;
}

/* homepage */

.header-sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-right: 1px solid #33333319;
    height: 100vh !important;
}

.header-topbar {
    width: 100%;
    border-bottom: 1px solid #33333319;
}

.card {
    border: 1px solid #33333319 !important;
}

.form-coment {
    width: 100%;
    height: 42px;
}

.publication-form-ul a {
    color: #333;
}

.header-togglemod a {
    font-size: 14px !important;
    color: #3333335e;
    text-decoration: none;
}

.header-togglemod a:hover {
    font-size: 14px !important;
    color: #333333af;
}

.header-togglemod a.active:hover {
    font-size: 14px !important;
    color: #e9e9e9af;
}

.custom-list-item {
    padding: 2px 6px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.custom-list-item:hover {
    background-color: #33333319;
    color: #0d6efd;
}

.badge-event {
    width: 42px;
    height: 42px;
}

.describe-event p {
    font-size: 15px;
}

.describe-event span {
    font-size: 12px;
}

/* breakpoints */

/* 1200px */
@media screen and (max-width: 1200px) {

    .header-sidebar {
        display: none;
    }

}

/* lading page */
.hero {
    background: #E1F6FF;
}

.cards-hero {
    max-width: 800px;
}

@media screen and (max-width: 770px) {
    .cards-hero {
        flex-direction: column;
    }
}