* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* geral */
.logo {
    width: 46px;
    height: 46px;
}
/* terms & privacy */
.termsandprivacy {
    font-size: 12px;
}