/* sociocactus */

:root {
    --first: #f74675;
    --second: #BF265E;
    --third: #242426;
    --fourth: #212123;
}

.user-info-card h1,
.user-info-card h2,
.user-info-card h3,
.user-info-card span,
.user-info-card p,
.user-info-card small,
.user-info-card ul,
.user-info-card li a,
.user-info-card a {
    color: #f74675 !important;
}

.user-info-card {
    background: #212123;
}