<!-- Modal de Boas-Vindas -->
<section id="delete-account-modal" class="modal-delete-account">
    <section class="modal-content">
        <section class="text">
            <h2>Excluir Conta</h2>
            <p>Ao prosseguir, sua conta será permanentemente excluída.</p>
            <span>Certifique-se de sua decisão, pois esta ação é irreversível.</span>            
        </section>
        <section class="form-control">
            <form action="/profile/del/account" method="post">
                
            </form>
        </section>
    </section>
</section>