<!-- Modal de Boas-Vindas -->
<section id="welcome-modal" class="modal-welcome">
    <section class="modal-content">
        <!-- Indicador de progresso -->
        <section id="progress-indicator"></section>

        <section class="modal-phase" id="phase-1">

            <img class="user-profile <%= router === '../pages/profile/profile.ejs' ? 'inPerfil' : '' %>"
                src="<%= user.perfilBase64 ? `data:image/png;base64,${user.perfilBase64}` : '/uploads/user/perfils/default.png' %>"
                alt="foto de perfil do usuário.">

            <h2>Bem-vindo <br>
                <%= user.name %>!
            </h2>
            <p>Descubra um universo de colecionáveis e personalize sua experiência! Aqui, você
                pode ganhar Versecoins completando desafios, colecionar itens únicos e personalizar seu perfil ao seu
                estilo.</p>
            <section class="button-content">
                <button class="next" onclick="nextPhase(2)">Próximo</button>
            </section>
        </section>

        <section class="modal-phase" id="phase-2" style="display: none;">
            <img src="/source/images/paper.svg" alt="Imagem ilustrativa">
            <h2>Explore Recursos</h2>
            <p>Complete desafios, ganhe Versecoins, e desbloqueie colecionáveis. Personalize seu perfil com itens
                especiais e mostre suas conquistas!</p>
            <section class="button-content">
                <button class="prev" onclick="prevPhase(1)"><i class="bi bi-arrow-left-short"></i></button>
                <button class="next" onclick="nextPhase(3)">Próximo</button>
            </section>
        </section>

        <section class="modal-phase" id="phase-3" style="display: none;">
            <h2>Conhecendo o site</h2>
            <p>Descubra como funciona o Collectverse:</p>

            <section class="accordion">
                <section class="accordion-header">Navegação <i class="bi bi-caret-down"></i></i></section>
                <section class="accordion-content">
                    <p>No cabeçalho, você verá um icone (<i class="bi bi-collection-fill"></i>). Esse icone é responsavel pela navegação no site.</p>
                </section>
            </section>

            <section class="accordion">
                <section class="accordion-header">Perfil e mais <i class="bi bi-caret-down"></i></i></section>
                <section class="accordion-content">
                    <p>No cabeçalho, a sua foto de perfil será responsavel pela interação do perfil, como ir ao perfil, configurações ou sair.</p>
                </section>
            </section>

            <section class="button-content">
                <button class="prev" onclick="prevPhase(2)"><i class="bi bi-arrow-left-short"></i></button>
                <button class="next" onclick="nextPhase(4)">Próximo</button>
            </section>
        </section>

        <section class="modal-phase" id="phase-4" style="display: none;">
            <h2>Como é a personalização</h2>
            <p>Como funciona a aquisição de colecionaveis e personalização do site.</p>

            <section class="accordion">
                <section class="accordion-header">Colecionaveis <i class="bi bi-caret-down"></i></i></section>
                <section class="accordion-content">
                    <p>Colecionaveis são essenciais aqui, você consegue vê-los na loja. A sua compra é possivel com os pontos(versecoins) e usalos em seu perfil.</p>
                </section>
            </section>

            <section class="accordion">
                <section class="accordion-header">Desafios e versecoins <i class="bi bi-caret-down"></i></i></section>
                <section class="accordion-content">
                    <p>Aqui você consegue tudo interagindo, basta participar e concluir desafios para conseguir versecoins, e usar como desejar.</p>
                </section>
            </section>

            <section class="button-content">
                <button class="prev" onclick="prevPhase(3)"><i class="bi bi-arrow-left-short"></i></button>
                <button class="next" onclick="nextPhase(5)">Próximo</button>
            </section>
        </section>

        <section class="modal-phase" id="phase-5" style="display: none;">
            <h2>Preferencias de estilo</h2>
            <p>Você decide como será o estilo da pagina, escolha suas preferencias nas configurações de perfil.</p>

            <section class="images-modal-configurations">
                    <img src="/source/images/themes/02.svg" alt="Tema">
                    <span>Necessário o modo Premium</span>
            </section>

            <section class="button-content">
                <button class="prev" onclick="prevPhase(3)"><i class="bi bi-arrow-left-short"></i></button>
                <button class="ok" onclick="closeModal()">Explorar o CollectVerse</button>
            </section>
        </section>
    </section>
</section>