<!-- Modal de Boas-Vindas -->
<section id="welcome-modal" class="modal-welcome">
    <section class="modal-content">
        <!-- Indicador de progresso -->
        <div id="progress-indicator"></div>

        <section class="modal-phase" id="phase-1">

            <img class="user-profile <%= router === '../pages/profile/profile.ejs' ? 'inPerfil' : '' %>"
                src="<%= user.perfilBase64 ? `data:image/png;base64,${user.perfilBase64}` : '/uploads/user/perfils/default.png' %>"
                alt="foto de perfil do usuário.">

            <h2>Bem-vindo <br>
                <%= user.name %>!
            </h2>
            <p>Descubra um universo de colecionáveis e personalize sua experiência! Aqui, você
                pode ganhar pontos completando desafios, colecionar itens únicos e personalizar seu perfil ao seu
                estilo.</p>
            <section class="button-content">
                <button class="next" onclick="nextPhase(2)">Próximo</button>
            </section>
        </section>

        <section class="modal-phase" id="phase-2" style="display: none;">
            <img src="/source/images/paper.png" alt="Imagem ilustrativa">
            <h2>Explore Recursos</h2>
            <p>Complete desafios, ganhe pontos, e desbloqueie colecionáveis. Personalize seu perfil com itens especiais e mostre suas conquistas!</p>
            <section class="button-content">
                <button class="prev" onclick="prevPhase(1)"><i class="bi bi-arrow-left-short"></i></button>
                <button class="next" onclick="nextPhase(3)">Próximo</button>
            </section>
        </section>

        <section class="modal-phase" id="phase-3" style="display: none;">
            <h2>Pronto para começar?</h2>
            <p>Você chegou à última fase.</p>
            <section class="button-content">
                <button class="prev" onclick="prevPhase(2)"><i class="bi bi-arrow-left-short"></i></button>
                <button class="ok" onclick="closeModal()">Explorar o CollectVerse</button>
            </section>
        </section>
    </section>
</section>