<!-- Modal de Confirmação -->
<div class="modal fade" id="ckeckModal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="checkModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center mt-4" aria-labelledby="checkModalLabel">
                <h5 class="mb-1" id="checkModalLabel">Confirmar Compra</h5>
                <p class="mb-3">Por favor, confirme a sua compra.</p>
                <i class="bi bi-bag-check fs-1 text-success border border-success rounded-circle p-3 px-4 bg-success-subtle" aria-hidden="true"></i>
            </div>
            <div class="justify-content-center d-flex p-5 pt-3 gap-3">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <input class="w-100 btn btn-success btn-lg" type="submit" value="Confirmar">
            </div>
        </div>
    </div>
</div>

<!-- Scripts do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/js/bootstrap.min.js" defer></script>