.highlights-container {
    display: flex;
    overflow: auto;
    margin-top: 1rem;
    gap: 1rem;
    padding: 0.6rem;
    justify-content: flex-start;
    align-items: center;
}

.poster-card {
    padding: 0;
    max-width: 220px !important;
    min-width: 220px !important;
    height: 220px;
}

.your-poster span {
    font-size: 12px;
    color: #676767;
}

.poster-card .user-banner {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.poster-card .user-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poster-card .user-profile {
    position: absolute;
    top: -4.5rem;
    right: 50%;
    transform: translateX(50%);
    width: 95px;
    height: 95px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.poster-card .informations-card {
    text-align: center;
    margin-top: 1.2rem;
}

.poster-card .informations-card h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 10ch;
    margin: 0 auto;
    text-align: center;
}

/* feed */

.store-feed {
    margin-top: 1rem;
}

.filter-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.filter-itens .container-navs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.filter-itens .nav {
    width: max-content;
}

.filter-itens .clear a {
    color: #202124;
    padding: 0.4rem 1.4rem;
    background-color: #eeeeee;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}

.filter-itens .nav select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #202124;
    padding: 0.4rem 1.4rem;
    background-color: transparent;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #c5c5c5;
    cursor: pointer;
    outline: none;
    text-align: center;
}

@media screen and (max-width:768px) {
    .filter-itens {
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
}

/* plans */

.feed-itens-plans {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}

.plans-control {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .plans-control {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.plans-control .default-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 330px;
    height: auto;
}

.plans-model {
    width: 100%;
    margin-top: 1rem;
}

.plans-model model-viewer {
    width: 100%;
    height: 350px;
}

.feature-plans-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-plans-card span {
    width: min-content;
    background-color: #dfedff;
    color: #0056b3;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    font-weight: 500;
}

.feature-plans-card h2 {
    font-size: 22px;
    color: #202124;
    line-height: 1.4rem;
}

.feature-plans-card p {
    font-size: 14px;
    color: #676767;
}

.get-plans-card {
    padding: 0.6rem;
    display: flex;
}

.get-plans-card .inner {
    width: 100%;
    height: 100%;
    background-color: #dfedff;
    padding: 2.2rem;
    border-radius: 12px;
    position: relative;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.get-plans-card .pricing {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8rem 1rem;
    background-color: #0056b3;
    border-radius: 25px 12px 0 25px;
    color: #001f41;
    font-weight: 500;
    font-size: 16px;
}

.get-plans-card h2 {
    font-size: 20px;
    color: #001f41;
}

.get-plans-card p {
    color: #676767;
    font-size: 16px;
}

.get-plans-card ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.get-plans-card ul span {
    color: #676767;
}

.get-plans-card ul span strong {
    color: #001f41;
}

.get-plans-card ul span i {
    background-color: #1fcac5;
    font-size: 12px;
    padding: 0.1rem 0.25rem;
    border-radius: 50%;
    color: #fff;
}

.get-plans-card form input {
    margin-top: 0.4rem;
    width: 100%;
    padding: 0.8rem;
    border: none;
    color: #fff;
    background-color: #0057b360;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

/* feed */

.feed-itens {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32.4%, 1fr));
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .feed-itens {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

.item-store-card {
    position: relative;
    width: 100%;
    padding: 0;
}

.rarity-card {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    font-weight: 600;
    padding: 0.6rem 0.9rem;
    border-radius: 8px;
}

.rarity-card i {
    color: #fff;
}

.item-store-card model-viewer {
    width: 100%;
    height: 220px;
    border-radius: 12px 12px 0 0;
    background-color: #fcfcfc;
}

.item-store-card .item-content {
    padding: 1rem;
}

.item-store-card .item-content h3 {
    color: #202124;
    font-size: 16px;
}

.item-store-card .desc {
    display: flex;
    flex-direction: column;
}

.item-store-card .item-content span {
    color: #676767;
    font-size: 14px;
}

.item-store-card .view {
    margin-top: 1rem;
}

.item-store-card .view a {
    padding: 0.6rem 1rem;
    border-radius: 25px;
    font-size: 14px;
    background-color: #eeeeee;
    color: #202124;
    font-weight: 600;
}

.container-for-item-store {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-for-item-store model-viewer {
    background-color: #fcfcfc;
    width: 50%;
    border-radius: 12px;
    height: calc(100vh - 115px);
}

.information-for-item {
    padding: 1rem;
    width: 50%;
}

.information-for-item h1 {
    font-size: 18px;
    color: #676767;
}

.information-for-item span {
    font-size: 14px;
}

.information-for-item h2 {
    font-size: 22px;
    color: #202124;
}

.information-for-item p {
    font-size: 16px;
    color: #202124;
    margin-top: 1rem;
}

.information-for-item small {
    font-size: 12px;
    color: #676767;
    margin-top: 1rem;
}

.information-for-item h3 {
    font-size: 14px;
    color: #202124;
    margin-top: 1.6rem;
}

.color-Palette {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.color-Palette .box {
    width: 42px;
    height: 42px;
    background-color: #202124;
}

@media screen and (max-width:768px) {
    .container-for-item-store {
        flex-direction: column;
    }

    .container-for-item-store model-viewer {
        width: 100%;
        height: 280px;
    }

    .information-for-item {
        padding: 1rem;
        width: 100%;
    }
}

.container-for-item-store form {
    margin-top: 2rem;
}

.container-for-item-store form input[type="submit"] {
    width: 100%;
    padding: 1rem;
    border: none;
    transition: 500ms linear;
    color: #fff;
    font-weight: 600;
    border-radius: 55px;
    background-color: #0056b3;
}

.container-for-item-store form input[type="submit"]:hover {
    filter: brightness(0.8);
}

/* points */

.activeTask,
.task-content {
    margin-top: 1rem;
}

.tasks-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32.4%, 1fr));
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .tasks-container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
    .task-card .card-header p {
        min-height: 40px;
    }
}

.activeTask-card {
    padding: 0;
    display: flex;
}

.activeTask-card>section {
    padding: 1.5rem;
}

.activeTask-card .task-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #dfedff;
    border-radius: 8px 0 0 8px;
    height: auto;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .activeTask-card {
        flex-direction: column;
    }

    .activeTask-card .task-preview {
        border-radius: 8px 8px 0 0;
        height: 320px;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {

    .activeTask-card .task-preview {
        height: 230px;
    }

}

.activeTask-card .task-info {
    width: 100%;
}

.activeTask-card .task-info .progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
}

.activeTask-card .task-info .progress-container span {
    color: #202124;
    font-size: 12px;
    font-weight: bold;
}

.activeTask-card .task-info h2 {
    color: #202124;
    font-size: 18px;
}

.activeTask-card .task-info h3 {
    color: #202124;
    font-size: 14px;
    font-weight: normal;
}

.activeTask-card .task-info button {
    margin-top: 0.6rem;
}

.activeTask-card .del-btn {
    padding: 0.4rem 1rem;
    border-radius: 8px;
    background: #ff5858;
    border: 1px solid #ff5858;
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
}

/* cards para tasks */

.task-card img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 1.2rem;
}

.task-card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #6767674b;
}

.task-card .card-header h2 {
    font-size: 18px;
    color: #202124;
    font-weight: bold;
}

.task-card .card-header p {
    height: 40px;
    color: #676767;
    margin-top: 0.4rem;
}

.task-card .card-header .icon-button {
    padding: 0.4rem 0.6rem;
    color: #202124;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    background-color: #dfedff2f;
    cursor: pointer;
}

.task-card .card-footer span {
    color: #676767;
    font-size: 14px;
    font-weight: bold;
    padding-top: 1.2rem;
}

.buy-points {
    margin-top: 1rem;
}

.container-buy {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.container-buy::-webkit-scrollbar {
    display: none;
}

.container-buy .buy-card-archor {
    width: max-content;
    min-width: 230px;
}

.container-buy .buy-card {
    padding: 0;
    all: unset;
}

.container-buy .buy-card img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    object-fit: cover;
}

.container-buy .buy-card .about {
    padding: 1rem;
    padding-left: 2px;
}

.container-buy .buy-card .about h3 {
    color: #676767;
    font-size: 12px;
}

.container-buy .buy-card .about h2 {
    color: #202124;
    font-size: 18px;
}

.container-buy .buy-card .about h4 {
    color: #202124;
    font-size: 14px;
    font-weight: normal;
}

/* Tokens */

.container-for-points-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
}

@media screen and (max-width:768px) {
    .container-for-points-item {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}

.title-for-points-item h2 {
    margin-bottom: 1rem;
    color: #202124;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
}

.container-for-points-item .left-container,
.container-for-points-item .right-container {
    width: 100%;
}

.container-for-points-item .left-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 3rem;
}

.container-for-points-item .left-container .description p{
    font-size: 14px;
    color: #202124;
    margin-bottom: 1rem;
}

.container-for-points-item .left-container .description ul{
    display: flex;
    gap: 1.6rem;
    padding: 1rem 1rem 1rem 0;
    width: 100%;
}

.container-for-points-item .left-container .description li {
    width: 100%;
}

.container-for-points-item .left-container .description>p + ul>li:first-child{
    border-right: 1px solid #6767673d;
}

.container-for-points-item .left-container .description ul li>ul{
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    width: 100%;
}

.container-for-points-item .left-container .description ul li>ul li span {
    color: #676767;
    font-size: 14px;
}

.container-for-points-item .left-container .description ul li>ul li p {
    font-size: 14px;
    color: #202124;
    background: #20212418;
    padding: 4px 14px;
    border-radius: 12px;
}

.container-for-points-item .left-container .ul-description {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.container-for-points-item .right-container>span { 
    color: #202124;
    font-size: 32px;
    font-weight: bold;
}

.container-for-points-item .right-container .buttons {
    margin: 1rem 0;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
}

.container-for-points-item .right-container .buttons button,
.container-for-points-item .right-container .buttons a {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.container-for-points-item .right-container .buttons button {
    background-color: #0056b3;
    color: #fcfcfc;
}

.container-for-points-item .right-container .buttons a {
    background-color: #20212418;
    color: #676767;
    text-align: center;
}

.container-for-points-item .right-container .informations ul li {
    display: flex;
    gap: 0.4rem;
    border-bottom: 1px solid #2021243d;
    padding-bottom: 0.4rem;
    align-items: center;
}

.container-for-points-item .right-container .informations ul li span {
    color: #676767;
    font-size: 12px;
}

.container-for-points-item .right-container .informations ul li p {
    color: #202124;
    font-size: 14px;
}

/* raridades */

/* Common */
.common {
    color: #c1c1c1 !important;
    /* Pastel Gray */
}

.card-common {
    background: #c1c1c1;
}

/* Uncommon */
.uncommon {
    color: #a0d7a0 !important;
    /* Pastel Green */
}

.card-uncommon {
    background: #a0d7a0;
}

/* Rare */
.rare {
    color: #a0a0d7 !important;
    /* Pastel Blue */
}

.card-rare {
    background: #a0a0d7;
}

/* Epic */
.epic {
    color: #d7a0d7 !important;
    /* Pastel Purple */
}

.card-epic {
    background: #d7a0d7;
}

/* Legendary */
.legendary {
    color: #ffcc66 !important;
    /* Pastel Yellow */
}

.card-legendary {
    background: #ffcc66;
}

/* Exceptional */
.exceptional {
    color: #ff9999 !important;
    /* Pastel Red */
}

.card-exceptional {
    background: #ff9999;
}