.main-profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.main-profile .main-home .main-content {
    width: 100%;
    max-width: 350px;
}

.model-card {
    width: 100%;
}

.model-card .header-model ol {
    display: flex;
    gap: 0.4rem;
    width: 100%;
}

.model-card .header-model li {
    width: 100%;
}

.model-card .header-model li button{
    width: 100%;
    color: #0056b3;
    background-color: #fdfdfd;
    padding: 0.4rem;
    border: none;
    border-radius: 6px;
}

.model-card .header-model li .active {
    background-color: #0057b310;
}

.model-card .container {
    margin-top: 1rem;
}

.model-card .model-viewer model-viewer {
    border-radius: 8px;
}

.model-card .model-viewer model-viewer,
.model-card .model-unviewer {
    width: 100%;
    height: calc(100vh - 216px);
}

.model-card .model-unviewer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-card .model-unviewer p {
    color: #202124;
    font-size: 14px;
}

.inventory-viewer {
    display: none;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    gap: 0.8rem;
}

.inventory-viewer .default-card h3 {
    color: #202124;
    font-size: 16px;
}

.inventory-viewer .default-card,
.inventory-viewer model-viewer {
    width: 100%;
}

.inventory-viewer model-viewer {
    height: 240px;
    border-radius: 8px;
}

.inventory-viewer input[type="submit"] {
    width: 100%;
    border: none;
    background-color: #0057b310;
    color: #0056b3;
    padding: 0.4rem;
    border-radius: 6px;
    margin-top: 0.4rem;
}

@media screen and (max-width: 768px) {
    .main-profile {
        display: flex;
        flex-direction: column;
    }

    .model-card .model-viewer model-viewer,
    .model-card .model-unviewer {
        height: calc(100vh - 196px);
    }

    .inventory-viewer model-viewer {
        height: 180px;
    }
}

.profile-card {
    margin-bottom: 1rem;
}

.profile-card .profile-banner img {
    width: 100%;
    max-height: 350px;
    border-radius: 8px;
    object-fit: cover;
}

.profile-card .profile-infos {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-card .profile-infos img {
    width: 52px;
    height: 52px;
    border-radius: 16px;
    object-fit: cover;
}

.profile-card .user-infos {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-card .user-infos h2 {
    color: #202124;
    font-size: 18px;
}

.following-and-followers {
    display: flex;
    gap: 12px;
    align-items: center;
}

.following-and-followers p {
    cursor: pointer;
    color: #202124;
    font-size: 14px;
}

.profile-details .biography {
    padding-top: 1rem;
}

.profile-details .biography p {
    color: #202124;
    font-size: 16px;
}

.profile-card .actions {
    margin-top: 1rem;
}

.followbtn,
.unfollowbtn {
    padding: 0.6rem 2rem;
    border-radius: 25px;
    color: #fff;
    border: none;
}

.followbtn {
    background: #0056b3;
}

.unfollowbtn {
    background: #ff5858;
}

/* edit */

.edit-card {
    margin: 1rem;
}

.edit-card label h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    color: #202124;
    margin-bottom: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.grid-edit .banner {
    width: 100%;
    max-height: 400px;
    border-radius: 12px;
    object-fit: cover;
}

.grid-edit .perfil {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
}

.grid-edit label {
    color: #202124;
    font-size: 18px;
}

.grid-edit .image-edit {
    position: relative;
}

.grid-edit .image-edit .custom-file-upload {
    position: absolute;
    left: 10px;
    bottom: 15px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control label {
    color: #202124;
    font-size: 16px;
    margin-bottom: 8px;
}

.input-control input {
    width: 100%;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-control input:focus {
    color: #0056b3;
    outline-color: #0056b3;
}

.input-control span {
    font-size: 12px;
    color: #676767;
}

.text-and-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.text-and-input input {
    padding: 0.6rem 2rem;
    border-radius: 8px;
    background: #ff5858;
    border: 1px solid #ff5858;
    color: #fff;
    font-weight: bold;
}

.text-and-input .text span {
    color: #676767;
    font-size: 12px;
}