<div>
    <article>
        <ul class="list-unstyled mb-0 mt-2 ms-3" role="presentation">
            <li>
                <a href="/" class="d-flex gap-2" aria-label="Nome do evento em 12 de janeiro">
                    <span class="badge badge-event bg-secondary">
                        <h3 class="h6 m-0">12</h3>
                        <span>Jan</span>
                    </span>
                    <div class="describe-event">
                        <p class="m-0 ms-1">Event Name</p>
                        <span class="m-0 ms-1">78k inscritos</span>
                    </div>
                </a>
            </li>
        </ul>
    </article>
</div>