<div class="container d-flex justify-content-center align-items-center" style="height:75vh;">
    <div class="text-center mt-5">
        <h1 class="display-1">404</h1>
        <p><strong>Página não encontrada</strong></p>
        <p>Desculpe, a página que você está procurando não foi encontrada.</p>
        <p>
            Você pode voltar para a página inicial clicando <a href="/">aqui</a>.
        </p>
    </div>
</div>