{{> components/semantics/header directoryName="CollectVerse"}}
<div class="px-4 pt-5 my-5 mb-0 text-center">

    <h1 class="display-4 fw-bold text-body-emphasis">Embarque nesta jornada!</h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 fs-6">

            Faça parte da revolução das redes sociais e molde o mundo do CollectVerse do seu jeito! Personalize sua
            experiência e embarque na jornada que está transformando o universo geek. Sua liberdade de colecionar está a
            um clique de distância.

        </p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/">
                <button type="button" class="mt-4 px-3 py-2 btn btn-primary rounded-pill">Inicie sua
                    experiencia</button>
            </a>
        </div>

    </div>

    <div class="overflow-hidden" style="max-height: 40vh;">

        <div class="container px-5 mt-5">
            <img src="https://getbootstrap.com/docs/5.3/examples/heroes/bootstrap-themes.png" alt="example image"
                class="img-fluid rounded-3 shadow-lg mb-4" width="700" height="500">
        </div>

    </div>

</div>

{{!-- --}}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Vamos ajudá-lo a começar</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-6 mb-4 text-white">

                Cada experiencia é unica e exclusiva, tornando cada dia diferente e cheio de novidades, começe no
                CollectVerse com um Colecionavel aleatório e incrivel da coleção de HalloWeen, teste sua sorte.

            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center flex-column">
                <button type="button" class="btn text-white unset px-4 me-sm-3"><a href="/"
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Pegue
                        agora - Exclusivo</a></button>
                <span class="fs-6 text-white">Por tempo limitado.</span>
            </div>

        </div>
    </div>

</div>

{{!-- --}}
<div class="px-4 pt-5 my-5 mb-0 text-center">

    <h1 class="display-4 fw-bold text-body-emphasis">Funcionalidades do CollectVerse.</h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 fs-6">

            Descubra as notáveis distinções que tornam o CollectVerse extraordinário e compreenda por que somos a
            escolha ideal para você.

        </p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/">
                <button type="button" class="mt-4 px-3 py-2 btn btn-primary rounded-pill">Experimente na
                    pratica.</button>
            </a>
        </div>

    </div>

</div>

<div class="d-md-flex w-100 m-auto px-3 mb-2">
    <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden rounded">
        <div class="my-3 py-3">
            <h2 class="display-5">Loren Ipsun</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, tenetur mollitia.
                Inventore rem recusandae aut.
            </p>
        </div>

        <div class="overflow-hidden" style="max-height: 40vh;">

            <div class="container px-5 mt-5">
                <img src="https://getbootstrap.com/docs/5.3/examples/heroes/bootstrap-themes.png" alt="example image"
                    class="img-fluid rounded-3 shadow-lg mb-4" width="700" height="500">
            </div>

        </div>

    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden rounded">
        <div class="my-3 p-3">
            <h2 class="display-5">Loren Ipsun</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, tenetur mollitia.
                Inventore rem recusandae aut.
            </p>
        </div>

        <div class="overflow-hidden" style="max-height: 40vh;">

            <div class="container px-5 mt-5">
                <img src="https://getbootstrap.com/docs/5.3/examples/heroes/bootstrap-themes.png" alt="example image"
                    class="img-fluid rounded-3 shadow-lg mb-4" width="700" height="500">
            </div>

        </div>

    </div>
</div>

</div>