<link rel="stylesheet" href="/stylesheet/profile/style.css">

<%- include("../../partials/header.ejs") %>

<main>
    <!-- banner de perfil -->
    <%- include("../../partials/card/profile.ejs", { profile }) %>

    <!-- form -->
    <% if (locals.userid === profile.id) { %>
        <%- include("../../partials/card/publish.ejs") %>
    <% } %>

    <section class="container-publications">
        <% if(publications && publications.length > 0) { %>

            <% publications.forEach(function(publication) { %>
                <!-- Include do HTML da publicação -->
                <%- include("../../partials/card/publication.ejs", {publication: publication}) %>
            <% }); %>

        <% } else { %>
            <p class="not-publications-founds">Nenhuma publicação encontrada.</p>
        <% } %>
    </section>
</main>