<link rel="stylesheet" href="/stylesheet/profile/style.css">
<!-- model viewer -->

<%- include("../../partials/header.ejs") %>

<main>
    <section class="main-viewFollows">
        <section class="folowing">

        </section>
        <section class="followers">
            
        </section>
    </section>
</main>