/* expresso milk shake */

:root {
    --first : #382f32;
    --second : #ffeaf2;
    --third : #fcd9e5;
    --fourth : #fbc5d8;
}

body {
    background: #ffeaf2;
}

h1,
h2,
h3,
span,
p,
small,
ul,
li a,
a {
    color: #382f32 !important;
}

.header {
    background: #fcd9e5;
}

.internal-header {
    background: #fcd9e5;
}

.header .dropdown-content {
    background: #fcd9e5;
}

.header .dropdown-content i {
    background: transparent !important;
}

.header .menu i {
    color: #382f32 !important;
}

/* header li a active */

.navigation-header .activated {
    background: #fbc5d8;
}

.dropdown-notification-content {
    background: #fbc5d8;
}

.responsive-itens-container .default-card {
    background: #fbc5d835;
}

@media screen and (max-width: 768px) {

    .responsive-itens-container {
        background: #fcd9e5;
    }

}

.button-for-store i{
    color: #382f32 !important;
}

.dropdown-store-content {
    background-color: #fcd9e5 !important;
}

.dropdown-store-content ul li a i {
    color: #382f32 !important;
}

.inPerfil {
    border-color: #fbc5d8;
}

.default-card {
    background: #fcd9e5;
}

input {
    background: #fbc5d8 !important;
    color: #382f32 !important;
    outline: none;
}

.publish-card input[type="text"] {
    border: none;
}

input:focus,
input::placeholder {
    color: #382f32 !important;
}

button {
    background: #fbc5d8 !important;
    color: #382f32 !important;
}

button.active {
    background: #382f32 !important;
    color: #fcd9e5 !important;
}

.more-icon i,
.dropdown-content i {
    background: #fbc5d8 !important;
    color: #382f32 !important;
}

.more-icon .dropdown-content {
    background: #fbc5d8 !important;
}

.more-icon .dropdown-content a {
    color: #382f32 !important;
}

.custom-file-upload {
    background-color: #fbc5d8;
}

.custom-file-upload i {
    color: #382f32;
}

/* scroll */

/* Estilizando o scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fcd9e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fcd9e5;
}