/* sociocactus */

:root {
    --first: #f74675;
    --second: #BF265E;
    --third: #242426;
    --fourth: #212123;
}

body {
    background: #242426;
}

h1,
h2,
h3,
span,
p,
small,
ul,
li a,
a {
    color: #f74675 !important;
}

.header {
    background: #212123;
}

.internal-header {
    background: #212123;
}

.header .dropdown-content {
    background: #212123;
}

.header .dropdown-content i {
    background: transparent !important;
}

.header .menu i {
    color: #f74675 !important;
}

/* header li a active */

.navigation-header .activated {
    background: #242426;
}

.dropdown-notification-content {
    background: #212123;
}

.responsive-itens-container .default-card {
    background: #21212365;
}

@media screen and (max-width: 768px) {

    .responsive-itens-container {
        background: #212123;
    }

}

.button-for-store i{
    color: #f74675 !important;
}

.dropdown-store-content {
    background-color: #212123 !important;
}

.dropdown-store-content ul li a i {
    color: #f74675 !important;
}

.inPerfil {
    border-color: #bf265e65;
}

.default-card {
    background: #212123;
}

input {
    background: #242426 !important;
    color: #f74675 !important;
    outline: none;
}

.publish-card input[type="text"] {
    border: none;
}

input:focus,
input::placeholder {
    color: #f74675 !important;
}

button {
    background: #242426 !important;
    color: #f74675 !important;
}

button.active {
    background: #f74675 !important;
    color: #242426 !important;
}

.more-icon i,
.dropdown-content i {
    background: #242426 !important;
    color: #f74675 !important;
}

.more-icon .dropdown-content {
    background: #242426 !important;
}

.more-icon .dropdown-content a {
    color: #f74675 !important;
}

.custom-file-upload {
    background-color: #242426;
}

.custom-file-upload i {
    color: #f74675;
}

/* scroll */

/* Estilizando o scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242426;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #212123;
}