<div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 mb-3 mb-lg-2 text-center overflow-hidden w-100">
    <div class="my-3 p-3">
        <span class="fs-7">{{class}}</span>
        <h2 class="display-5">{{name}}</h2>
        <p class="lead">{{description}}</p>
    </div>
    <div class="mx-auto" style="width: 100%; height: auto;">
        <a href="/" class="unset w-100">
            <figure class="bg-light card-img-top d-flex justify-content-center align-items-center w-100">
                <img class="card-store-image"
                    src="https://resource.logitech.com/w_386,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/logitech/en/products/keyboards/mx-mechanical/gallery/mx-mechanical-keyboard-top-view-graphite-us.png?v=1"
                    alt="{{name}} image">
            </figure>
        </a>
    </div>
</div>