<div class="pt-5 text-center border-bottom bg-light">
    <h1 class="display-4 fw-bold text-body-emphasis">Bem-vindo</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">na Loja você vai adiquirir colecionaveis unicos, não perca a chance, eles podem nunca mais
            voltar!! O mundo de colecionaveis é incrivel e infinito, a criatividade é o limite.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn unset text-decoration-underline px-4 me-sm-3"><a href="/store/pass"
                    class="unset">Adiquira o passe
                    Universal</a></button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 45vh;">
        <div class="container w-100">
            <img src="https://image.fnbr.co/outfit/5ab172825f957f27504aa504/featured.png" class="w-50" alt="Item store">
        </div>
    </div>
</div>