<link rel="stylesheet" href="/stylesheet/store/style.css">

<%- include("../../partials/header.ejs") %>
<main>
    <section class="title-for-points-item">
        <h2>1.000 Tokens</h2>
    </section>
    <section class="container-for-points-item">
        <section class="left-container">
                <img src="https://store-images.s-microsoft.com/image/apps.40956.66551724481003499.684bcba5-f93c-4565-8022-dba49ecc2d9f.53be8e87-0bdd-4278-853d-d68bfc021e8e?q=90&w=480&h=270" alt="Imagem ilustrativa de Tokens">
            <section class="description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum doloremque eveniet repudiandae dolor? Autem, iusto ad explicabo eligendi eos, pariatur quis, placeat sit non porro eius dolores tempore incidunt fugit.</p>

                <ul>
                    <li>
                        <ul>
                            <li><Span>Gênero</Span></li>
                            <li class="ul-description">
                                <p>Complemento</p>
                                <p>Pacote</p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <li><Span>Recursos</Span></li>
                            <li class="ul-description"><p>1000 Tokens</p></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>
        <section class="right-container">
            <span>R$ 25</span>
            <section class="buttons">
                <button class="get">Compre agora</button>
                <a href="/store">Para collecionaveis</a>
            </section>
            <section class="informations">
                <ul>
                    <li>
                        <Span>Tipo de reembolso</Span>
                        <p>Não reembolsavel</p>
                    </li>
                </ul>
            </section>
        </section>
    </section>
</main>