<link rel="stylesheet" href="/stylesheet/store/style.css">

<%- include("../../partials/header.ejs") %>
<main>
    
    <section class="tasks-container">
        <%- include('../../partials/card/task.ejs') %>
    </section>
    
</main>
