<link rel="stylesheet" href="/stylesheet/store/style.css">

<%- include("../../partials/header.ejs") %>
    <main>

        <section class="activeTask">
            <%- include('../../partials/card/activeTask.ejs') %>
        </section>

        <section class="tasks-container">
            <%- include('../../partials/card/task.ejs') %>
        </section>

    </main>