<link rel="stylesheet" href="/stylesheet/store/style.css">

<%- include("../../partials/header.ejs") %>
    <main>

        <section class="activeTask">

            <% if (challengesForUser) { %>
                <%- include('../../partials/card/activeTask.ejs', {challengesForUser: challengesForUser}) %>
            <% } else { %>
                <p>sem nenhum desafio ativo</p>
            <% } %>

        </section>

        <section class="task-content">
            <section class="task-header filter-itens">

                <section>
                    <h2>Atividades</h2>
                </section>
                <section class="container-navs">
                    <section class="nav">
                        
                        <select onchange="handleChange(this)">
                            <option value="all">Todos</option>
                            <option value="new">Novo</option>
                        </select>
                        
                    </section>
                    <section>
                        <ul class="clear">
                            <li><a href="/store/points">Limpar</a></li>
                        </ul>
                    </section>
                </section>

            </section>
            <section class="tasks-container">

                <% challenges.forEach((challenge) => { %>
                    <%- include('../../partials/card/task.ejs', { challenge: challenge }) %>
                <% }) %>

            </section>
        </section>

        <br>
        
        <section>
            <section class="default-card task-card">
                <h1>Adicionar pontos</h1>
                <span>Essa ação é temporaria, será usada apenas para testes.</span>
                <span>Após um periodo de desenvolvimento, será removido</span>
            
                <form action="/store/getPoints" method="post">
                    <input type="number" name="points" placeholder="Quantidade de pontos" min="0" max="999999">
                    <input type="submit" value="Confirmar">
                </form>
            </section>
        </section>

    </main>