<div class="container w-100">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2 logo" src="/icons/preview.png" alt="CollectVerse Logo">
                <small class="d-block mb-3 text-body-secondary">© CollectVerse</small>
            </div>
            <div class="col-6 col-md">
                <h5>Recursos</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/">Home</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/store">Loja</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Comunidades</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/static/lading">lading page</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Sobre</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Equipe</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">GitHub</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/static/terms#privacy">Privacidade</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/static/terms#terms">Termos</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>