<header class="header-topbar w-100 p-3 d-flex align-items-center justify-content-between">

    <div>
        <a href="/" class="unset">
            <figure class="d-flex align-items-center justify-content-center gap-2 ps-3 mb-0">
                <img src="/icons/preview.png" class="logo" alt="CollectVerse Logo" aria-label="CollectVerse Logo"
                    loading="lazy">
                <h2 class="h6 m-0">{{directoryName}}</h2>
            </figure>
        </a>
    </div>

    <div class="d-flex gap-5 align-items-center">
        <nav id="navbar" class="d-flex justify-content-between align-items-center">
            <ul class="d-flex justify-content-center m-0 p-0">
                {{!-- URLs após autentificação --}}
                {{#if session.userid}}
                <li>{{> user/dropdown}}</li>
                {{else}}
                <li>
                    <a href="/access">
                        <button type="button" class="btn btn-primary" aria-label="Entrar na sua conta">Entrar</button>
                    </a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>

</header>